<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./image/icon.jpg.png">
    <title>Comtes Mythiques</title>
    <script src="https://unpkg.com/vue"></script>

    <link rel="stylesheet" href="./style.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Sweet alert-->
    <script src="sweetalert2.all.min.js"></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="narbarVue">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li v-bind:class="page.class" v-for="page in pages">
                    <a class="nav-link" v-bind:href="page.url">{{page.nom}}</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>
<div class="row no-gutters bg-light">
    <div class="offset-xl-1 col-xl-10 bg-white spacerUp">
        <div class="offset-xl-1 col-xl-10">
            <div id="conte">
                <h1 class="text-center" id="title">{{titre}}</h1>
                <br>
                <label>Recherche
                    <input v-model="recherche">
                </label>

                <table style="width:100% ">
                    <tr>
                        <div class="col-xl-1">
                            <th style="height: 30px">Nom:</th>
                        </div>
                        <div class="col-xl-10">
                            <th id="description">Description:</th>
                        </div>
                        <div class="col-xl-10">
                            <th>Info:</th>
                        </div>
                    </tr>

                    <!-- Les groupes de transitions sont utile pour faire des animations d'entrée et de sortie.-->
                    <transition-group
                            name="staggered-fade"
                            tag="ul"
                            v-bind:css="false"
                            v-on:before-enter="beforeEnter"
                            v-on:enter="enter"
                            v-on:leave="leave"
                    >
                        <tr v-for="conte in computedList">
                            <td>{{ conte.nom }}</td>
                            <td v-if="!conte.affichage" v-bind:id="conte.nom">{{ conte.description.substr(0, 50) }}...
                            </td>
                            <td v-else v-bind:id="conte.nom">{{ conte.description }}</td>
                            <td><input type="submit" class="btn btn-primary" v-on:click="fullDesc(conte.id)"
                                       value="Résumer Complet"></input></td>
                        </tr>
                    </transition-group>

                </table>


            </div>
        </div>
    </div>
</div>
</div>


</body>


<footer>
    <div id="footer">
        <div class="row no-gutters bg-light">
            <div class="offset-xl-1 col-xl-10 bg-white spacerUp">
                <div class="offset-xl-1 col-xl-10">
                    <hr/>
                    <div class="row">
                        <div class="col-xl-4">
                            <h3>Auteur:</h3>
                            <hr/>
                            <p>{{auteur}}</p>
                        </div>
                        <div class="col-xl-4">
                            <h3>Information:</h3>
                            <hr/>
                            <p>{{informationPertinante}}</p>
                        </div>
                        <div class="col-xl-4">
                            <h3>Technologie:</h3>
                            <hr/>
                            <p>{{technoUtiliser}}</p>
                            <ul>
                                <li v-for="techno in technos" :key="techno.info">
                                    {{techno.info}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="script/conte.js"></script>
<script src="script/footer.js"></script>
<script src="script/navbar.js"></script>

</html>