<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./image/icon.jpg.png">
    <title>Divertissement</title>
    <script src="https://unpkg.com/vue"></script>

    <link rel="stylesheet" href="./style.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="narbarVue">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li v-bind:class="page.class" v-for="page in pages">
                    <a class="nav-link" v-bind:href="page.url">{{page.nom}}</a>
                </li>
            </ul>
        </div>
    </nav>

</head>

<body>

<div class="row no-gutters bg-light" id="divertissement">
    <div class="offset-xl-1 col-xl-10 bg-white text-center ">
        <div class="offset-xl-1 col-xl-10  spacer-200">
            <div class="row">

                <div class="col-xl-6">
                    <p>
                        Ask a yes/no question:
                        <input v-model="question">
                    </p>
                    <p>{{ answer }}</p>
                </div>
                <div class="col-xl-6">
                    <p>{{messageRV}}</p>
                    <label>
                        <input v-model="messageRV">
                    </label><br>
                    <button type="button" class="btn btn-danger" v-on:click="retournerMessage">Reverse Message</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xl-6">
                    <button class="btn btn-danger" @click="ajout">
                        Ajouter
                    </button>
                    <br>
                    <br>
                    <input v-model="nouveanNom">
                </div>
                <div class="col-xl-6">
                    <button @click="shuffle" class="btn btn-danger">
                        Shuffle
                    </button>
                    <transition-group name="flip-list">
                        <li v-for="item in items" v-bind:key="item">
                            {{ item.nom }}
                        </li>
                    </transition-group>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
<footer>
    <div id="footer">
        <div class="row no-gutters bg-light">
            <div class="offset-xl-1 col-xl-10 bg-white ">
                <div class="offset-xl-1 col-xl-10 ">
                    <div class="row ">
                        <div class="col-xl-4">
                            <h3>Auteur:</h3>
                            <hr/>
                            <p>{{auteur}}</p>
                        </div>
                        <div class="col-xl-4">
                            <h3>Information:</h3>
                            <hr/>
                            <p>{{informationPertinante}}</p>
                        </div>
                        <div class="col-xl-4">
                            <h3>Technologie:</h3>
                            <hr/>
                            <p>{{technoUtiliser}}</p>
                            <ul>
                                <li v-for="techno in technos" :key="techno.info">
                                    {{techno.info}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="script/footer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="script/api.js"></script>
<script src="script/navbar.js"></script>
<script src="script/divertissement.js"></script>

</html>